.container {
  margin-top: 10px;
}

.shopping-cart {
  background-color: whitesmoke;
  width: 450px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 1em;
}

.shopping-cart > .show-grid {
  padding-bottom: 1.5em;
}

.price-strike {
  text-decoration-line: line-through;
  color: grey;
}
